
body {
    background-color: rgb(126, 190, 126);
}

.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: rgb(26, 107, 35) !important;/* Your styles for elements with all three classes */
    color: white !important;
}

.navbar-brand{
    color: white;
}

.navbar-nav a {
    color: white; /* Set the color to white */
    /* Additional styles as needed */
}


.radio-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px
}

.table {
    border: 1px solid black;
}

.text-center {
    text-align: center;
}

.col-2 {
    width: 20%; /* Adjust the width as needed */
}
